In [2]:
import pandas as pd

In [3]:
paths = ['/code/data/data_1.csv',
         '/code/data/data_2.csv',
         '/code/data/data_3.csv',
         '/code/data/data_4.csv',
         '/code/data/data_5.csv',
         '/code/data/data_6.csv']

data = pd.DataFrame()

dfs = []
for path in paths:
    data_tmp = pd.read_csv(path)
    dfs.append(data_tmp)

data = pd.concat(dfs, ignore_index=True)
print('number of datapoints', len(data))
data.head()

number of datapoints 1203513

,Unnamed: 0,terminaltime,soc,speed,totalodometer,chargestatus,totalvoltage,totalcurrent,minvoltagebattery,maxvoltagebattery,mintemperaturevalue,maxtemperaturevalue,batteryvoltage,probetemperatures
0,0,56.0,68,5.0,2.1,3,370.6,0.5,3.853,3.867,21,23,3.858~3.858~3.867~3.866~3.866~3.863~3.862~3.86...,23.0~23.0~23.0~23.0~23.0~22.0~23.0~23.0~23.0~2...
1,1,493880.0,68,51.0,4.1,3,362.6,130.9,3.746,3.788,18,19,3.779~3.777~3.784~3.781~3.761~3.782~3.782~3.77...,18.0~18.0~18.0~18.0~18.0~18.0~18.0~18.0~18.0~1...
2,2,493890.0,68,50.9,4.3,3,366.1,33.4,3.799,3.820,18,19,3.813~3.812~3.82~3.819~3.81~3.816~3.817~3.816~...,18.0~18.0~18.0~18.0~18.0~18.0~18.0~18.0~18.0~1...
3,3,493900.0,68,52.3,4.4,3,364.0,75.9,3.771,3.800,18,19,3.793~3.791~3.799~3.798~3.788~3.796~3.795~3.79...,18.0~18.0~18.0~18.0~18.0~18.0~18.0~18.0~18.0~1...
4,4,493910.0,67,60.0,4.6,3,363.6,112.1,3.762,3.796,18,19,3.786~3.785~3.794~3.793~3.784~3.792~3.793~3.79...,18.0~18.0~18.0~18.0~18.0~18.0~18.0~18.0~18.0~1...

In [6]:
print(data.columns.tolist())

['Unnamed: 0', 'terminaltime', 'soc', 'speed', 'totalodometer', 'chargestatus', 'totalvoltage', 'totalcurrent', 'minvoltagebattery', 'maxvoltagebattery', 'mintemperaturevalue', 'maxtemperaturevalue', 'batteryvoltage', 'probetemperatures']